.App {
  text-align: center;
  /* background-color: #969696; */
  /* height: 100vh; */
}

.green {
  background-color: #6FFFB0;
}

.black {
  background-color: black;
}

.purple {
  background-color: #7D4CDB;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-12 {
  padding-left: 0px;
  padding-right: 0px;
}
